:root {
  --background: #ffffff;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

