.page {
    background-color: white;
    width: 100vw;  /* ความกว้างครอบคลุม viewport ทั้งหมด */
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
  }
  
  .event-detail-container{
    margin-top: 120px;
    margin-left: 140px;
  }
  
  .event-description{
    margin-left: 140px;
  }
  
  .event-detail-picture{
    width: 960px;
    height: 600px;
  }
  
  