.page {
  background-color: white;
  width: 100vw;  /* ความกว้างครอบคลุม viewport ทั้งหมด */
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}

.event-detail-container{
  margin-top: 120px;
  margin-left: 140px;
  display: flex;
}

.event-description{
  margin-left: 140px;
}

.event-detail-picture{
  width: 960px;
  height: 600px;
}

.event-detail{
  margin-left: 70px;
}

.event-name-text{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-detail-date, .event-detail-location, .event-detail-time, .event-detail-date-location, .event-participants{
  display: flex;
}

.event-detail-date-location{
  margin-bottom: 15px;
}

.event-detail-location{
  margin-left: 40px;
}

.event-detail-time{
  margin-bottom: 30px;
}

.event-detail-text{
  margin-left: 10px;
}

.event-participants{
  margin-bottom: 35px;
}

.number-of-participants-container{
  background-color: rgba(5, 195, 111, 1);
  width: 87px;
  height: 43px;
  color: white;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

.event-tag{
  width: 145px;
  height: 40px;
  padding: 20px 14px 20px 14px;
  background-color: rgba(5, 195, 111, 1);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.join-event-button{
  font-size: 32px;
  width: 220px;
  height: 60px;
  padding:10px 60px 10px 60px ;
  border: none;
  color: white;
  background-color: rgba(0, 143, 70, 1);
  border-radius: 10px;
  display: flex;
  justify-content: baseline;
}


.input-wrapper {
  display: flex;
  align-items: center;
  width: 853px;
  height: 572px;
  border: solid;
  border-radius: 8px;
  justify-content: center;
}

.input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-items: center; /* ให้แสดงว่าเป็นปุ่มคลิกได้ */
}

.create-event-input-container{
  margin-bottom: 5px;
}

.create-event-text{
  font-size: 24px;
  font-weight: bold;
}

.create-event-error-text{
  color: rgba(140, 24, 41, 1);
  font-size: 14px;
  margin-left: 5px;
}

.create-event-input-event-name, .create-event-input-event-date, .create-event-input-event-time, .create-event-input-event-location, .create-event-input-event-category,.create-event-input-event-description{
  width: 622px;
  height: 40px;
  border-radius: 4px;
  color: rgba(92, 92, 92, 1);
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 14px;
  border-color: black;
}

.create-event-input-event-date, .create-event-input-event-time, .create-event-input-event-location, .create-event-input-event-category{
  width: 211px;
}

.create-event-input-event-description{
  height: 154px;
}